.watchlistCardWrapper {
    border: 1px solid red;
    margin-bottom: 10px;
    position: relative;
    max-height: 300px;
}
.watchlistCardWrapper img {
    display: inline-block;
    width: 200px;
    height: 300px;
}

.watchlistCardTitle {
    color: #F9F9F9;
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    vertical-align: top ;
    text-align: left;
}
.releaseDate {
    margin-right: 0;
    color: #F9F9F9;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
.CardInfoBlock {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    max-width: 100%;
}
.CardInfoBlock p {
    color: #00a550  ;
    width: 550px;
    font-family: Lato;
    max-height: 110px;
    font-size: 22px;
    overflow:auto;

}
.infoLanguage{
    color: #F9F9F9;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}
.infoRating {
    color: #F9F9F9;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}
.removeMovie {
    width: 75px;
    height: 40px;
    font-weight: 400;
    font-family: Lato;
    color: #F9F9F9;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
@media screen and (max-width:771px){
    .CardInfoBlock p {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        font-size: 20px;
        overflow:scroll;
    }
    .CardInfoBlock{
        display: block;
    }
    .watchlistCardWrapper img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .watchlistCardWrapper {
        min-height: 700px;
        border: none;
        border-bottom: 1px solid red;
    }
    .watchlistCardTitle{
        text-align: center;
        margin-bottom: 10px;
    }
    .infoLanguage{
        text-align: center;
        margin-bottom: 10px;
    }
    .infoRating{
        text-align: center;
        margin-bottom: 10px;
    }
    .releaseDate{
        text-align: center;
        margin-bottom: 10px;
    }
    .removeMovie{
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }
}
