.moviesList {
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}
.amountOfMovies{
    color: #F9F9F9;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.watchlistWrapper h1 {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #F9F9F9;
}
@media screen and (max-width:771px){
    .watchlistWrapper h1{
        font-size: 32px;
    }
}